<div class='section-padding' ng-controller="storeCtrl">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id="catalogs" ng-init="listAllCatalogs()">
				<div class="entryBoxes">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6 text-center" ng-if="!noInfraCatalogs">
							<div>
								<div class="headerIcons">
									<span class="demo-icon icon-layers center-block" ng-click="hideCatalogEntries('infra')"></span>
								</div>
								<input type="checkbox" ng-model="iacSelected" checked ng-click="hideCatalogEntries('infra')"/>&nbsp;Infra As
								Code Templates
								<!--<a href="/store/iac" title="Learn More">-->
								<!--<span class="glyphicon glyphicon-info-sign"></span>-->
								<!--</a>-->
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 text-center" ng-if="!noCdCatalogs">
							<div>
								<div class="headerIcons">
									<span class="demo-icon icon-file-code center-block" ng-click="hideCatalogEntries('cd')"></span>
								</div>
								<input type="checkbox" ng-model="cdSelected"checked ng-click="hideCatalogEntries('cd')"/>&nbsp;Catalog
								Recipes
								<!--<a href="/store/catalogs" title="Learn More">-->
								<!--<span class="glyphicon glyphicon-info-sign"></span>-->
								<!--</a>-->
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 text-center" ng-if="!noTempCatalogs">
							<div>
								<div class="headerIcons">
									<span class="glyphicon glyphicon-globe center-block" ng-click="hideCatalogEntries('template')"></span>
								</div>
								<input type="checkbox" ng-model="envSelected"checked ng-click="hideCatalogEntries('template')"/>&nbsp;Environment
								Templates
								<!--<a href="/store/env" title="Learn More">-->
								<!--<span class="glyphicon glyphicon-info-sign"></span>-->
								<!--</a>-->
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 text-center" ng-if="!noCiCatalogs">
							<div>
								<div class="headerIcons">
									<span class="demo-icon icon-loop center-block" ng-click="hideCatalogEntries('ci')"></span>
								</div>
								<input type="checkbox" ng-model="ciSelected" checked ng-click="hideCatalogEntries('ci')"/>&nbsp;Continuous
								Integration
								<!--<a href="/store/ci" title="Learn More">-->
								<!--<span class="glyphicon glyphicon-info-sign"></span>-->
								<!--</a>-->
							</div>
						</div>
					</div>
					<br/>
					<hr>
					<br/>
					
					<uib-alert ng-show="store.alert.msg" type="{{store.alert.type}}" ng-bind-html="store.alert.msg|toTrustedHtml"></uib-alert>
					
					<div class="row" ng-if="!allCatalogs || allCatalogs.length === 0">
						<uib-alert type="warning">
							<p>No Entries available in the SOAJS Store at the moment. Come back Soon.</p>
						</uib-alert>
					</div>
					<div class="row" ng-if="allCatalogs && allCatalogs.length > 0">
						<div ng-repeat="onectlg in allCatalogs" class="storeElement col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-hide="onectlg.hide" tooltip="Last Modified on {{onectlg.ts|date}}">
							<div class="content">
								<div class="header blue-bg white-text">
									<div class="col-md-11 col-sm-11 col-xs-10" ng-click="expandCollapse(onectlg);" tooltip="{{onectlg.name}}">
										<b>{{onectlg.name}}</b>
									</div>
									<div class="col-md-1 col-sm-1 col-xs-2 downloadIcon">
										<a href="" ng-click="download(onectlg)" tooltip="Download">
											<span class="glyphicon glyphicon-cloud-download white-text yellow-txt-hover"></span>
										</a>
									</div>
								</div>
								<div class="body" ng-click="expandCollapse(onectlg);">
									<!--<div class="col-lg-2 col-md-2 col-sm-2 text-center mainIcon">-->
									<!--<span class="glyphicon glyphicon-info-sign"></span>-->
									<!--</div>-->
									<div class="col-lg-12 col-md-12 col-sm-12" ng-hide="onectlg.expanded && onectlg.description!== ''" ng-bind-html="onectlg.short_description | toTrustedHtml"></div>
									<div class="col-lg-12 col-md-12 col-sm-12" ng-show="onectlg.expanded && onectlg.description!== ''" ng-bind-html="onectlg.description | toTrustedHtml"></div>
								</div>
								<div class="footer">
									<div class="col-md-11 col-xs-11">
										<div class="row">
											<div class="col-md-3 col-sm-3 col-xs-2 worksWith">
												Works With
											</div>
											<div class="col-md-9 col-sm-9 col-xs-10 techList">
												<div class="col-xs-2 col-sm-2 col-md-2" ng-repeat="oneLink in onectlg.icons">
													<img src="/custom/modules/store/images/logo/{{oneLink.label}}.png" alt="{{oneLink.label}}" tooltip="{{oneLink.label}}"/>
													<!--<img src="{{oneLink.url}}" alt="{{oneLink.label}}" tooltip="{{oneLink.label}}"/>-->
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-1 col-xs-1 tagIcon tagIcon-{{onectlg.type}}">
										<span class="{{onectlg.smallIcon}}"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="loginPage.tmpl">
	<div id="catalogsModal">
		<div class="modal-header blue-bg white-text">
			<h3 class="modal-title">Login to Download</h3>
		</div>
		<div class="modal-body">
			<alert type="info">
				<p>
					Login to to download <b>recipes</b> and <b>templates</b> from the Store.
				</p>
				<p>
					If you do not have an account, you can register for free.
				</p>
			</alert>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary btn-sm" ng-click="go('/member/login')">Login</button>
			<button class="btn btn-danger btn-sm " ng-click="cancel()">Cancel</button>
		</div>
	</div>
</script>