<div class='row section-padding' ng-controller="addProject">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			
			<h2>{{sectionTitle}}</h2>
			<hr>
			<div class="projects" id="step0" ng-show="step['0']">
				<div ng-include="'custom/modules/member/project/directives/createProjectHeadline.tmpl'"></div>
			</div>
			
			<div id="step1" ng-show="step['1']" class="steps">
				<p class="stepMessageDetails">
					<!--Select a package from the list below, and -->
					Follow the wizard steps to create your project.
					( <a download href="/PDF/HC-HowtoCreateaProject.pdf" target="blank" title="Download Help Manual">
						<span class="glyphicon glyphicon-question-sign"></span>&nbsp;Download Manual
					</a> )
				</p>
				<form name="submitDetails">
					<div ng-include="'custom/modules/member/project/directives/packageTable.tmpl'"></div>
					
					<div class="form-group">
						<label>
							Project Name
						</label>
						<input name="projectName" ng-model="project.name" type="text" placeholder="Name" class="form-control" tooltip="Enter your project name..." ng-required="true" ng-pattern="/^[a-z0-9]+$/"/>
						<span ng-if="submitDetails.projectName.$error.pattern === true" style="color:red; font-size:13px">
							Must be lowercase and alphanumeric only (no special characters or spaces).
						</span>
					</div>
					<div class="form-group">
						<label>
							Project Description
						</label>
						<input name="projectDescription" ng-model="project.description" type="text" placeholder="Description" class="form-control" tooltip="Enter your project Description ..." ng-required="true"/>
					</div>
					<br>
					<div ng-if="submitDetails.$submitted && !submitDetails.$valid">
						<uib-alert type="danger">
							<div ng-if="!submitDetails.ht_package.$valid"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Please select a package to proceed.</div>
							<div ng-if="!submitDetails.projectName.$valid"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Make sure you enter a project name.</div>
							<div ng-if="!submitDetails.projectDescription.$valid"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Make sure you enter a project description.</div>
						</uib-alert>
						<!-- <alert type="danger">
							Missing fields. Make sure you choose a package, and enter your project name and description.
						</alert> -->
					</div>
					
					<div class="pull-left">
						<a ng-click="goToStep('0')" class="btn btn-sm btn-warning actionBtn white-text">
							<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back
						</a>
					</div>
					
					<div class="pull-right">
						<a ng-click="goToStep('2', submitDetails)" class="btn btn-sm btn-warning actionBtn white-text">
							<span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Next
						</a>
					</div>
				</form>
			</div>
			
			<div id="step2" ng-show="step['2']" class="steps">
				<uib-alert type="info">
					<h4>Project Details:</h4>
					<hr>
					<table width="100%" class="infoTable">
						<tr>
							<td><b>Name</b></td>
							<td width="70%">{{project.name}}</td>
						</tr>
						<tr>
							<td><b>Package</b></td>
							<td width="85%">{{project.ht_package}}</td>
						</tr>
					</table>
				</uib-alert>
				
				<p class="stepMessageDetails">
					Select a Cloud Provider from the list below to provision your Infrastructure. You can always add
					more providers after creating your project.
				</p>
				
				<!--Choose your Infrastructure providers to deploy the environments of your project.-->
				<form>
					<uib-accordion close-others="true">
						<uib-accordion-group ng-click="setInfra('aws')" is-open="data.infraAws">
							<uib-accordion-heading>
								Amazon Web Services ( AWS )
							</uib-accordion-heading>
							<div>
								<uib-alert type="warning" class="fieldMsg">
									Enter your <b>Key ID</b> and <b>Secret Access Key</b> to connect <b>Amazon Web
									Services</b> and deploy machines on it,
									<a href="https://soajsorg.atlassian.net/wiki/spaces/DSBRD/pages/729710593/AWS" target="_blank">Learn
										More</a>.
									<!--<a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_access-keys.html?icmpid=docs_iam_console" target="_blank">Learn-->
									<!--More</a>.-->
									
									<a href="https://aws.amazon.com" class="btn btn-warning pull-right actionBtn" target="_blank">Create
										AWS Account</a>
								</uib-alert>
								
								<div class="form-group">
									<label>Key Id</label>
									<input ng-model="project.infra.aws.api.keyId" type="text" placeholder="Key Id" class="form-control" tooltip="Enter your AWS Key Id..." ng-required="true"/>
									<div class="fieldMsg hint">
										Users need an access keys to make programmatic calls to AWS Services using
										the APIs.
									</div>
								</div>
								<div class="form-group">
									<label>Secret Access Key</label>
									<input ng-model="project.infra.aws.api.secretAccessKey" type="password" placeholder="Secret Access Key" class="form-control" tooltip="Enter your AWS secretAccessKey..." ng-required="true"/>
									<div class="fieldMsg hint">
										Secret Access Keys work in conjunction with Key ID to authorize calls made
										to AWS APIs.
									</div>
								</div>
							</div>
						</uib-accordion-group>
						<uib-accordion-group ng-click="setInfra('google')" is-open="data.infraGoogle">
							<uib-accordion-heading>
								Google Cloud ( GC )
							</uib-accordion-heading>
							<div>
								<uib-alert type="warning" class="fieldMsg">
									Enter your <b>Project Id</b> and <b>Project Token</b> to connect to <b>Google
									Cloud</b> and deploy machines on it,
									<a href="https://soajsorg.atlassian.net/wiki/spaces/DSBRD/pages/729546773/Google+Cloud" target="_blank">Learn
										More</a>.
									<!--<a href="https://cloud.google.com/iam/docs/service-accounts?hl=en_US&_ga=2.168863714.-2125465392.1514424027" target="_blank">Learn-->
									<!--More</a>.-->
									<a href="https://cloud.google.com" class="btn btn-warning pull-right actionBtn" target="_blank">Create
										GC Account</a>
								</uib-alert>
								<div class="form-group">
									<label>Project ID </label>
									<input ng-model="project.infra.google.api.project" type="text" placeholder="Project Id" class="form-control" tooltip="Enter your Google project Id..." ng-required="true"/>
									<div class="fieldMsg hint">
										Google Cloud allows deployment within already created projects only. Enter
										the Google Project Name you which to use for your deployments.
									</div>
								</div>
								
								<div class="form-group">
									<label>Token</label>
									<div id="token" ui-ace="{maxLines: Infinity, useWrapMode : true, showGutter: true, mode: 'json', firstLineNumber: 1}" ng-model="project.infra.google.api.token" style="height:200px;"></div>
									<!--<textarea rows="5" ng-model="project.infra.google.api.token" type="text" placeholder="Token" class="form-control" tooltip="Enter the token associated with this project..." required>-->
										</textarea>
									<div class="fieldMsg hint">
										Tokens allow you to communicate with Google Cloud APIs to manage your
										deployments.
										Generate a Key Token in Google Cloud IAM / Service Accounts section and copy
										it here.
									</div>
								</div>
							</div>
						</uib-accordion-group>
						<uib-accordion-group ng-click="setInfra('azure')" is-open="data.infraAzure">
							<uib-accordion-heading>
								Microsoft Azure ( Azure )
							</uib-accordion-heading>
							<div>
								<uib-alert type="warning" class="fieldMsg">
									Enter your <b>Client Id</b>, <b>Client Secret</b>, <b>Tenant Id</b> and <b>Subscription
									Id</b> to connect to <b>Microsoft
									Azure</b> and deploy machines on it,
									<a href="https://soajsorg.atlassian.net/wiki/spaces/DSBRD/pages/729579529/Microsoft+Azure" target="_blank">Learn
										More</a>.
									<!--<a href="https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-service-principal-portal" target="_blank">Learn-->
									<!--More</a>.-->
									<a href="https://cloud.google.com" class="btn btn-warning pull-right actionBtn" target="_blank">Create
										GC Account</a>
								</uib-alert>
								<div class="form-group">
									<label>Client ID </label>
									<input ng-model="project.infra.azure.api.clientId" type="text" placeholder="Client Id" class="form-control" tooltip="Enter your Azure Client Id..." ng-required="true"/>
									<div class="fieldMsg hint">
										Microsoft Azure requires a <b>Client Id</b> which represents the application
										that has access to communicate with Azure API.
									</div>
								</div>
								<div class="form-group">
									<label>Client Secret </label>
									<input ng-model="project.infra.azure.api.secret" type="text" placeholder="Client Secret" class="form-control" tooltip="Enter your Azure Client Secret..." ng-required="true"/>
									<div class="fieldMsg hint">
										Microsoft Azure requires a <b>Client Secret</b> along with the <b>Client Id</b>
										to authenticate the the application that wants to communicate with Azure API.
									</div>
								</div>
								<div class="form-group">
									<label>Tenant ID </label>
									<input ng-model="project.infra.azure.api.domain" type="text" placeholder="Tenant Id" class="form-control" tooltip="Enter your Azure Tenant Id..." ng-required="true"/>
									<div class="fieldMsg hint">
										Microsoft Azure requires a <b>Tenant Id</b> for all applications that want to
										communicate with its API.
									</div>
								</div>
								<div class="form-group">
									<label>Subscription ID </label>
									<input ng-model="project.infra.azure.api.subscriptionId" type="text" placeholder="Subscription Id" class="form-control" tooltip="Enter your Azure Subscription Id..." ng-required="true"/>
									<div class="fieldMsg hint">
										Microsoft Azure requires a <b>Subscription Id</b> along with the application
										credentials to validate access to resources when using Azure API.
									</div>
								</div>
							</div>
						</uib-accordion-group>
					</uib-accordion>
					<div>
						<a ng-click="goToStep('1')" class="btn btn-sm btn-warning actionBtn white-text">
							<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back
						</a>
						<div class="pull-right">
							<a ng-click="skipInfra()" class="btn btn-sm btn-primary actionBtn comet-hover white-txt-hover">
								<span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Skip
							</a>
							<a ng-click="validateInfra()" class="btn btn-sm btn-warning actionBtn white-text">
								<span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Next
							</a>
						</div>
					</div>
				</form>
			</div>
			
			<div id="step3" ng-show="step['3']" class="steps">
				<uib-alert type="info">
					<h4>Project Details:</h4>
					<hr>
					<table width="100%" class="infoTable">
						<tr>
							<td><b>Name</b></td>
							<td width="70%">{{project.name}}</td>
						</tr>
						<tr>
							<td><b>Package</b></td>
							<td width="85%">{{project.ht_package}}</td>
						</tr>
						<tr ng-if="project.infra.aws || project.infra.google || project.infra.azure">
							<td><b>Cloud Provider</b></td>
							<td width="85%" ng-show="project.infra.aws">Amazon Web Services ( AWS )</td>
							<td width="85%" ng-show="project.infra.google">Google Cloud ( GC )</td>
							<td width="85%" ng-show="project.infra.azure">Microsoft Azure ( Azure )</td>
						</tr>
						<tr ng-if="clusterSettings[project.ht_package]">
							<td colspan="2">
								<hr>
								<p>
									You have chosen package: <b>{{project.ht_package}}</b> we recommend that your
									resource flavor offers a minimum of:
								</p>
								<table width="100%" class="infoTableDetails">
									<tr>
										<td>Storage</td>
										<td>{{clusterSettings[project.ht_package].storageCapacity}}</td>
										<td>Network</td>
										<td>{{clusterSettings[project.ht_package].connectivity}}</td>
									</tr>
									<tr>
										<td>RAM</td>
										<td>{{clusterSettings[project.ht_package].ram}}</td>
										<td>IOPs</td>
										<td>{{clusterSettings[project.ht_package].storageIOPs}}</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</uib-alert>
				
				<p class="stepMessageDetails">
					<b>SOAJS SAAS</b> requires a <b>MongoDB Atlas</b> resource to persist your project's information
					(Cloud Orchestration, API Management, Analytics ... etc).<br/>
				</p>
				
				<form name="submitResource">
					<uib-accordion close-others="true">
						<!--<accordion-group ng-click="setCluster(true)" is-open="false">-->
						<!--<accordion-heading>-->
						<!--<input ng-checked="data.newCluster" name="deployCluster" type="radio" value="true"/>-->
						<!--Deploy a new-->
						<!--Cluster-->
						<!--</accordion-heading>-->
						<!--<div>-->
						<!--<form>-->
						<!--<div class="form-group">-->
						<!--<input ng-model="project.resource.projectName" type="text" placeholder="Project Name" class="form-control" tooltip="Enter your atlas project name..." required/>-->
						<!--</div>-->
						<!--<div class="form-group">-->
						<!--<input ng-model="project.resource.clusterName" type="text" placeholder="Cluster Name" class="form-control" tooltip="Enter your cluster name..." required/>-->
						<!--</div>-->
						<!--</form>-->
						<!--</div>-->
						<!--</accordion-group>-->
						<uib-accordion-group ng-click="setCluster(false)" is-open="true">
							<uib-accordion-heading>
								<!--<input ng-checked="data.existingCluster" name="deployCluster" type="radio" value="false"/>-->
								<!--Use existing Cluster-->
								MongoDB Atlas
							</uib-accordion-heading>
							<div>
								<uib-alert type="warning" class="fieldMsg">
									Enter your Project, Cluster and API Key to connect to MongoDB Atlas and provision
									your
									Database,
									<a target="_blank" href="https://docs.atlas.mongodb.com/configure-api-access/#generate-api-keys">Learn
										More</a>
									<a href="https://cloud.mongodb.com" class="btn btn-warning pull-right actionBtn" target="_blank">Create
										Atlas Account</a>
								</uib-alert>
								
								<div class="form-group">
									<label>Atlas Project Name</label>
									<input ng-model="project.resource.projectName" type="text" placeholder="Project Name" class="form-control" tooltip="Enter your Atlas project name..." ng-required="true"/>
								</div>
								<div class="form-group">
									<label>Atlas Cluster Name</label>
									<input ng-model="project.resource.clusterName" type="text" placeholder="Cluster Name" class="form-control" tooltip="Enter your Atlas cluster name..." ng-required="true"/>
								</div>
								
								<div class="form-group">
									<label>Atlas Organization Id</label>
									<input ng-model="project.resource.api.orgId" type="text" placeholder="Organization Id" class="form-control" tooltip="Enter the organization Id where the project is created..." ng-required="true"/>
								</div>
								<div class="form-group">
									<label>Atlas Username</label>
									<input ng-model="project.resource.api.username" type="text" placeholder="API Username" class="form-control" tooltip="Enter your atlas username..." ng-required="true"/>
									<div class="fieldMsg hint">
										Atlas requires your username to communicate with its API.
									</div>
								</div>
								<div class="form-group">
									<label>Atlas API Token</label>
									<input ng-model="project.resource.api.token" type="password" placeholder="API Token / Password" class="form-control" tooltip="Enter your atlas token..." ng-required="true"/>
									<div class="fieldMsg hint">
										Generate an API Key and paste it here to enable communication with Atlas API.
									</div>
								</div>
								
								<div class="form-group">
									<label>Database Username</label>
									<input ng-model="project.resource.credentials.username" type="text" placeholder="Username" class="form-control" tooltip="Enter your atlas token..." ng-required="true"/>
									<div class="fieldMsg hint">
									
									</div>
								</div>
								<div class="form-group">
									<label>Database Password</label>
									<input ng-model="project.resource.credentials.password" type="password" placeholder="Password" class="form-control" tooltip="Enter your atlas token..." ng-required="true"/>
									<div class="fieldMsg hint">
									
									</div>
								</div>
								
								<!--<div style="display: none">-->
								<!--<div class="fieldMsg">-->
								<!--Whitelist your IP so that it can connect to your chosen server.-->
								<!--</div>-->
								<!--<div class="form-group">-->
								<!--<label>IP Description </label>-->
								<!--<input ng-model="project.IPentries[0].comment" type="text" placeholder="Comment" class="form-control" tooltip="Enter a description of your IP..." ng-required="true"/>-->
								<!--<div class="fieldMsg hint">-->
								<!---->
								<!--</div>-->
								<!--</div>-->
								<!---->
								<!--<div class="form-group">-->
								<!--<label>IP Address </label>-->
								<!--<input ng-model="project.IPentries[0].ipAddress" type="text" placeholder="IP Address" class="form-control" tooltip="Enter your IP..."/>-->
								<!--<div class="fieldMsg hint">-->
								<!---->
								<!--</div>-->
								<!--</div>-->
								<!--</div>-->
							
							</div>
						</uib-accordion-group>
					</uib-accordion>
					<div ng-if="submitResource.$submitted && !submitResource.$valid">
						<uib-alert type="danger">
							Please fill all the fields above!
						</uib-alert>
					</div>
					<div>
						<a ng-click="goToStep('2')" class="btn btn-sm btn-warning actionBtn white-text">
							<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back
						</a>
						
						<a ng-click="submitProject(submitResource)" class="pull-right btn btn-sm btn-warning actionBtn white-text">
							<span class="glyphicon glyphicon-play"></span>&nbsp;Create Project
						</a>
					
					</div>
				</form>
			</div>
			
			<div id="step4" ng-show="step['4']" class="steps">
				<uib-alert type="info">
					<h4>Project Details:</h4>
					<hr>
					<table width="100%" class="infoTable">
						<tr>
							<td><b>Name</b></td>
							<td width="70%">{{project.name}}</td>
						</tr>
						<tr>
							<td><b>Package</b></td>
							<td>{{project.ht_package}}</td>
						</tr>
						<tr>
							<td><b>Cloud Provider</b></td>
							<td ng-show="project.infra.aws">Amazon Web Services ( AWS )</td>
							<td ng-show="project.infra.google">Google Cloud ( GC )</td>
						</tr>
						<tr>
							<td><b>Atlas Project Name</b></td>
							<td>{{project.resource.projectName}}</td>
						</tr>
						<tr>
							<td><b>Atlas Cluster Name</b></td>
							<td>{{project.resource.clusterName}}</td>
						</tr>
					</table>
				</uib-alert>
			
			</div>
			
			<div id="step5" ng-show="step['5']" class="steps">
				<!--coming soon, will hold enterprise project details-->
			</div>
			
			<div ng-show="alerts && alerts.length > 0">
				<br/>
				<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
					{{alert.msg}}
				</uib-alert>
				<br/>
			</div>
		
		</div>
	</div>
</div>