<div class='row section-padding'>
	<div class="container" ng-controller="listProjects">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">

			<div ng-show="alerts && alerts.length > 0">
				<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
					{{alert.msg}}
				</uib-alert>
				<br/>
			</div>

			<h2>My projects</h2>
			<hr>
			<div>
				<a type="button" class="actionBtn btn btn-lg Casablanca gray-txt comet-hover white-txt-hover" href="/member/project/add">
					<span class="fa fa-plus"></span>
					Create New Project
				</a>
			</div>
			<br>
			<uib-tabset>
				<uib-tab>
					<uib-tab-heading>Active Projects</uib-tab-heading>
					<br>
					<div class="alert alert-warning" ng-if="projects.active.length === 0">
						There are no active projects yet. Please click on <strong>"Create New Project"</strong> to
						create a project. </br>
						<span ng-if="projects.pending.length === 1"><strong>Note:</strong> There is currently <strong>{{projects.pending.length}}
							pending</strong> project. It should be activated in a few moments and will appear under this tab.</span>
						<span ng-if="projects.pending.length > 1"><strong>Note:</strong> There are currently <strong>{{projects.pending.length}}
							pending</strong> projects. They should be activated in a few moments and will appear under this tab.</span>
					</div>
					<uib-accordion close-others="false">
						<uib-accordion-group class="blueAccordion" ng-repeat="project in projects.active">
							<uib-accordion-heading>
								<span class="icon icon-barcode"></span>{{project.name}}
							</uib-accordion-heading>

							<div class="row">
								<div class="col-md-7">
									<div ng-if="project.ts"><b>Created</b>:&nbsp;{{project.ts|date}}</div>
									<span class="description">{{project.description}}</span>
								</div>
								<div class="col-md-5 t-right">
									<a ng-if="project.status!=='pending'" ng-click="openProject(project)" class="btn btn-sm actionBtn Casablanca gray-txt comet-hover white-txt-hover" href="">
										<span class="fa fa-folder-open"></span>
										<b>Open</b>
									</a>&nbsp;
									<a ng-if="project.status!=='pending'" ng-click="editProject(project)" href="" class="btn btn-sm actionBtn Casablanca gray-txt comet-hover white-txt-hover">
										<span class="fa fa-edit"></span>
										<b>Edit</b>
									</a>&nbsp;
									<a ng-show="access.members.adminGroup.addUsers" ng-if="project.status!=='pending'" ng-click="manageUsers(project)" href="" class="btn btn-sm actionBtn btn-primary comet-hover white-txt-hover">
										<span class="glyphicon glyphicon-user"></span>
										<b>Assign Users</b>
									</a>&nbsp;
									<a ng-click="deleteProject(project)" href="" class="btn btn-sm red-danger actionBtn Casablanca gray-txt comet-hover white-txt-hover">
										<span class="fa fa-remove"></span>
										<b>Delete</b>
									</a>
								</div>
							</div>
							<hr>
							<div class="row panelScroller">
								<div class="col-md-12">
									<div class="row margin-top-bottom-5">
										<div class="col-md-6 projectLabel">
											<label>Package</label>
										</div>
										<div class="col-md-3">
											<span ng-repeat="(pack, data) in project.package"> {{pack}}</span>
										</div>
										<!--<div class="col-md-3">-->
										<!--<a href="">-->
										<!--<span class="glyphicon glyphicon-eye-open"></span>&nbsp;List All Packages-->
										<!--</a>-->
										<!--</div>-->
									</div>
									<div class="row margin-top-bottom-5" ng-if="project.addons">
										<div class="col-md-6 projectLabel">
											<label>Add-Ons</label>
										</div>
										<div class="col-md-3">
											<div ng-repeat="addon in project.addons">{{addon.code}}</div>
										</div>
										<!--<div class="col-md-3">-->
										<!--<a href="">-->
										<!--<span class="glyphicon glyphicon-eye-open"></span>&nbsp;List All Add-Ons-->
										<!--</a>-->
										<!--</div>-->
									</div>
									<hr class="yellowbar">
									<div class="row margin-top-bottom-5" ng-if="project.agg">
										<div class="col-md-6 projectLabel">
											<label>Package & Add-Ons Limit</label>
										</div>
										<div class="col-md-6">
											<div ng-repeat="(one,value) in project.agg.criteria">
												<b class="text-capitalize">{{value.label}}:</b> {{value.quantity}}
											</div>
										</div>
									</div>
									<hr>
									<div class="row">
										<div ng-if="project.mainResource" class="col-md-6">
											<h4>Resource</h4>
											<br/>
											<accordion close-others="false">
												<accordion-group is-open="true">
													<accordion-heading>
														<img height="24" ng-src="/custom/modules/member/project/images/resources/{{project.mainResource.driver}}/logo.png">&nbsp;
														<span class="small-accordion-header text-uppercase">{{project.mainResource.driver}}</span>
													</accordion-heading>

													<div class="one-deployment">
														<div class="row margin-top-bottom-5">
															<div class="col-md-6 projectLabel">
																<label>Cluster Name</label>
															</div>
															<div class="col-md-6">
																{{project.mainResource.projectName}} -
																{{project.mainResource.api.clusterName}}
															</div>
														</div>
														<div class="row margin-top-bottom-5">
															<div class="col-md-6 projectLabel">
																<label>Provider</label>
															</div>
															<div class="col-md-6">
																{{project.mainResource.providerSettings.backingProviderName}}
															</div>
														</div>
														<div class="row margin-top-bottom-5">
															<div class="col-md-6 projectLabel">
																<label>Region</label>
															</div>
															<div class="col-md-6">
																{{project.mainResource.providerSettings.regionName}}
															</div>
														</div>
														<div class="row margin-top-bottom-5">
															<div class="col-md-6 projectLabel">
																<label>Size</label>
															</div>
															<div class="col-md-6">
																{{project.mainResource.providerSettings.instanceSizeName}}
															</div>
														</div>
														<hr class="yellowbar">
													</div>
												</accordion-group>
											</accordion>
										</div>
										<div ng-if="project.infras.length" class="col-md-6">
											<h4>Infrastructure</h4>
											<br/>
											<accordion close-others="false">
												<accordion-group ng-repeat="(infra, infraData) in project.infra">
													<accordion-heading>
														<img height="24" ng-src="/custom/modules/member/project/images/infra/{{infra}}/logo.png">&nbsp;
														<span class="small-accordion-header text-uppercase">{{infra}}</span>&nbsp;
													</accordion-heading>

													<div ng-repeat="deployment in infraData.deployment" class="one-deployment">
														<div class="row margin-top-bottom-5">
															<div class="col-md-6 projectLabel">
																<label>Deployment Name</label>
															</div>
															<div class="col-md-6">{{deployment.name}}</div>
														</div>
														<div class="row margin-top-bottom-5">
															<div class="col-md-6 projectLabel">
																<label>Region</label>
															</div>
															<div class="col-md-6">{{deployment.zone}}</div>
														</div>
														<div class="row margin-top-bottom-5">
															<div class="col-md-6 projectLabel">
																<label>Environment(s)</label>
															</div>
															<div class="col-md-6">{{deployment.environments.join(' - ')}}
															</div>
														</div>
														<hr class="yellowbar">
													</div>
												</accordion-group>
											</accordion>
										</div>
									</div>
								</div>
								<br>
							</div>
						</uib-accordion-group>
					</uib-accordion>
				</uib-tab>
				<uib-tab ng-if="projects.pending.length">
					<uib-tab-heading>
						Pending Projects
					</uib-tab-heading>
					<div class="t-right">
						<a ng-click="checkPending()" type="button" class="actionBtn btn btn-lg Casablanca gray-txt comet-hover white-txt-hover" href="">
							Check Progress
						</a>
					</div>
					<br>
					<uib-accordion close-others="false">
						<uib-accordion-group class="blueAccordion pending-project" ng-repeat="project in projects.pending">
							<uib-accordion-heading>
								<span class="icon icon-barcode"></span>{{project.name}}
							</uib-accordion-heading>

							<div class="row">
								<div class="col-md-1"></div>
								<div class="col-md-7">
									<div ng-if="project.ts"><b>Created</b>:&nbsp;{{project.ts|date}}</div>
									<span class="description">{{project.description}}</span>
								</div>
								<div class="col-md-3 t-right">

									<a ng-click="deleteProject(project, true)" href="" class="btn btn-sm red-danger actionBtn Casablanca gray-txt comet-hover white-txt-hover">
										<span class="fa fa-remove"></span>
										<b>Delete</b>
									</a>
								</div>
								<div class="col-md-1"></div>
							</div>
							<hr>
							<div class="row panelScroller">
								<div class="col-md-12">
									<div class="row margin-top-bottom-5">
										<div class="col-md-6 projectLabel">
											<label>Package</label>
										</div>
										<div class="col-md-3">
											<span ng-repeat="(pack, data) in project.package"> {{pack}}</span>
										</div>
										<!--<div class="col-md-3">-->
										<!--<a href="">-->
										<!--<span class="glyphicon glyphicon-eye-open"></span>&nbsp;List All Packages-->
										<!--</a>-->
										<!--</div>-->
									</div>
									<div class="row margin-top-bottom-5" ng-if="project.addons">
										<div class="col-md-6 projectLabel">
											<label>Add-Ons</label>
										</div>
										<div class="col-md-3">
											<div ng-repeat="addon in project.addons">{{addon.code}}</div>
										</div>
										<!--<div class="col-md-3">-->
										<!--<a href="">-->
										<!--<span class="glyphicon glyphicon-eye-open"></span>&nbsp;List All Add-Ons-->
										<!--</a>-->
										<!--</div>-->
									</div>
									<hr class="yellowbar">
									<div class="row margin-top-bottom-5" ng-if="project.agg">
										<div class="col-md-6 projectLabel">
											<label>Package & Add-Ons Limit</label>
										</div>
										<div class="col-md-6">
											<div ng-repeat="(one,value) in project.agg.criteria">
												<b class="text-capitalize">{{value.label}}:</b> {{value.quantity}}
											</div>
										</div>
									</div>
									<hr>
									<div class="row">

									</div>
								</div>
								<br>
							</div>
						</uib-accordion-group>
					</uib-accordion>
				</uib-tab>
			</uib-tabset>

		</div>
	</div>
</div>