<div class='row section-padding'>
	<div class="container" ng-controller="listProjects">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2>My projects</h2>
			<hr>
			<div>
				<a type="button" class="btn btn-warning white-text" href="/member/project/add">
					<span class="glyphicon glyphicon-plus"></span>
					Create New Project
				</a>
			</div>
			<br>
			
			<div ng-show="alerts && alerts.length > 0">
				<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
					{{alert.msg}}
				</uib-alert>
				<br/>
			</div>
			
			<uib-tabset>
				<uib-tab>
					<uib-tab-heading>Active Projects</uib-tab-heading>
					<br>
					<div class="alert alert-warning" ng-if="projects.active.length === 0">
						No projects available, click on <strong>"Create New Project"</strong> above to create your first project. </br>
						<span ng-if="projects.pending.length === 1"><strong>Note:</strong> There is currently <strong>{{projects.pending.length}}
							pending</strong> project. It should be activated in a few moments and will appear under this tab.</span>
						<span ng-if="projects.pending.length > 1"><strong>Note:</strong> There are currently <strong>{{projects.pending.length}}
							pending</strong> projects. They should be activated in a few moments and will appear under this tab.</span>
					</div>
					<uib-accordion close-others="false">
						<uib-accordion-group ng-repeat="project in projects.active" is-open="$first">
							<uib-accordion-heading>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="pull-left hidden-xs">
											{{project.name}}
										</div>
										<div class="hidden-lg hidden-md hidden-sm">
											{{project.name}}
										</div>
										<div class="hidden-lg hidden-lg hidden-md hidden-sm"><br /></div>
										<div class="pull-right hidden-xs">
											<a ng-if="project.status!=='pending'" ng-click="openProject(project)" href="" class="btn btn-success actionBtn white-text">
												<span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;&nbsp;<b>Open</b>
											</a>&nbsp;
											<a ng-if="project.status!=='pending'" ng-click="editProject(project)" href="" class="btn btn-warning actionBtn white-text">
												<span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;&nbsp;<b>Edit</b>
											</a>&nbsp;
											<a ng-show="access.members.adminGroup.addUsers" ng-if="project.status!=='pending'" ng-click="manageUsers(project)" href="" class="btn btn-sm actionBtn btn-primary white-txt-hover">
												<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;<b>Assign Users</b>
											</a>&nbsp;
											<a ng-click="deleteProject(project)" href="" class="btn btn-sm red-danger actionBtn white-text">
												<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;&nbsp;<b>Delete</b>
											</a>
										</div>
										<div class="hidden-lg hidden-md hidden-sm">
											<a ng-if="project.status!=='pending'" ng-click="openProject(project)" href="" class="btn btn-success actionBtn white-text">
												<span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;&nbsp;<b>Open</b>
											</a>&nbsp;
											<a ng-if="project.status!=='pending'" ng-click="editProject(project)" href="" class="btn btn-warning actionBtn white-text">
												<span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;&nbsp;<b>Edit</b>
											</a>&nbsp;
											<a ng-show="access.members.adminGroup.addUsers" ng-if="project.status!=='pending'" ng-click="manageUsers(project)" href="" class="btn btn-sm actionBtn btn-primary white-txt-hover">
												<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;<b>Assign Users</b>
											</a>&nbsp;
											<a ng-click="deleteProject(project)" href="" class="btn btn-sm red-danger actionBtn white-text">
												<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;&nbsp;<b>Delete</b>
											</a>
										</div>
									</div>
								</div>
							</uib-accordion-heading>
							<div class="row">
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
									<span class="description">{{project.description}}</span>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div ng-if="project.ts"><b>Created</b>:&nbsp;{{project.ts|date}}</div>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="row margin-top-bottom-5">
										<div class="col-lg-6 col-md-6 projectLabel">
											<label>Package</label>
										</div>
										<div class="col-md-3">
											<span ng-repeat="(pack, data) in project.package"> {{pack}}</span>
										</div>
										<!--<div class="col-md-3">-->
										<!--<a href="">-->
										<!--<span class="glyphicon glyphicon-eye-open"></span>&nbsp;List All Packages-->
										<!--</a>-->
										<!--</div>-->
									</div>
									<div class="row margin-top-bottom-5" ng-if="project.addons">
										<div class="col-md-6 projectLabel">
											<label>Add-Ons</label>
										</div>
										<div class="col-md-3">
											<div ng-repeat="addon in project.addons">{{addon.code}}</div>
										</div>
										<!--<div class="col-md-3">-->
										<!--<a href="">-->
										<!--<span class="glyphicon glyphicon-eye-open"></span>&nbsp;List All Add-Ons-->
										<!--</a>-->
										<!--</div>-->
									</div>
									<div class="row margin-top-bottom-5" ng-if="project.agg">
										<div class="col-md-6 projectLabel">
											<label>Package & Add-Ons Limit</label>
										</div>
										<div class="col-md-6">
											<div ng-repeat="(one,value) in project.agg.criteria">
												<b class="text-capitalize">{{value.label}}:</b> {{value.quantity}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<hr>
							<div class="row">
								<div ng-if="project.mainResource" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
										<div class="one-deployment">
											<div class="row margin-top-bottom-5">
												<div class="col-md-6 projectLabel">
													<label>Cluster Name</label>
												</div>
												<div class="col-md-6">
													{{project.mainResource.projectName}} -
													{{project.mainResource.api.clusterName}}
												</div>
											</div>
											<div class="row margin-top-bottom-5">
												<div class="col-md-6 projectLabel">
													<label>Provider</label>
												</div>
												<div class="col-md-6">
													{{project.mainResource.providerSettings.backingProviderName}}
												</div>
											</div>
											<div class="row margin-top-bottom-5">
												<div class="col-md-6 projectLabel">
													<label>Region</label>
												</div>
												<div class="col-md-6">
													{{project.mainResource.providerSettings.regionName}}
												</div>
											</div>
											<div class="row margin-top-bottom-5">
												<div class="col-md-6 projectLabel">
													<label>Size</label>
												</div>
												<div class="col-md-6">
													{{project.mainResource.providerSettings.instanceSizeName}}
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
										<img width="100%" ng-src="/custom/modules/member/project/images/resources/{{project.mainResource.driver}}/logo.png">&nbsp;
									</div>
								</div>
							</div>
						</uib-accordion-group>
					</uib-accordion>
				</uib-tab>
				<uib-tab ng-if="projects.pending.length">
					<uib-tab-heading>
						Pending Projects
					</uib-tab-heading>
					<div class="text-right">
						<input value="Check Progress" ng-click="checkPending()" type="button" class="btn btn-sm btn-warning white-text">
					</div>
					<br>
					<uib-accordion close-others="false">
						<uib-accordion-group class="pending-project" ng-repeat="project in projects.pending" is-open="$first">
							<uib-accordion-heading>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="pull-left hidden-xs">
											{{project.name}}
										</div>
										<div class="hidden-lg hidden-md hidden-sm">
											{{project.name}}
										</div>
										<div class="hidden-lg hidden-lg hidden-md hidden-sm"><br /></div>
										<div class="pull-right hidden-xs">
											<a ng-click="deleteProject(project, true)" href="" class="btn btn-sm red-danger actionBtn white-text">
												<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;&nbsp;<b>Delete</b>
											</a>
										</div>
										<div class="hidden-lg hidden-md hidden-sm">
											<a ng-click="deleteProject(project, true)" href="" class="btn btn-sm red-danger actionBtn white-text">
												<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;&nbsp;<b>Delete</b>
											</a>
										</div>
									</div>
								</div>
							</uib-accordion-heading>
							<div class="row">
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
									<span class="description">{{project.description}}</span>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div ng-if="project.ts"><b>Created</b>:&nbsp;{{project.ts|date}}</div>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-md-12">
									<div class="row margin-top-bottom-5">
										<div class="col-md-6 projectLabel">
											<label>Package</label>
										</div>
										<div class="col-md-3">
											<span ng-repeat="(pack, data) in project.package"> {{pack}}</span>
										</div>
										<!--<div class="col-md-3">-->
										<!--<a href="">-->
										<!--<span class="glyphicon glyphicon-eye-open"></span>&nbsp;List All Packages-->
										<!--</a>-->
										<!--</div>-->
									</div>
									<div class="row margin-top-bottom-5" ng-if="project.addons">
										<div class="col-md-6 projectLabel">
											<label>Add-Ons</label>
										</div>
										<div class="col-md-3">
											<div ng-repeat="addon in project.addons">{{addon.code}}</div>
										</div>
										<!--<div class="col-md-3">-->
										<!--<a href="">-->
										<!--<span class="glyphicon glyphicon-eye-open"></span>&nbsp;List All Add-Ons-->
										<!--</a>-->
										<!--</div>-->
									</div>
									<div class="row margin-top-bottom-5" ng-if="project.agg">
										<div class="col-md-6 projectLabel">
											<label>Package & Add-Ons Limit</label>
										</div>
										<div class="col-md-6">
											<div ng-repeat="(one,value) in project.agg.criteria">
												<b class="text-capitalize">{{value.label}}:</b> {{value.quantity}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</uib-accordion-group>
					</uib-accordion>
				</uib-tab>
			</uib-tabset>

		</div>
	</div>
</div>