<table width="100%" class="table packagesTable">
	<thead>
		<tr>
			<!--<th class="noBorder"></th>-->
			<th colspan="2" class="noBorder" width="40%"></th>
			<th>
				<span for="START">Starter</span>
			</th>
			<th>
				<span for="MC-l7">Lean</span>
			</th>
			<th>
				<span for="MC-l7">Agile</span>
			</th>
			<th>
				<span for="MC-l7">Power</span>
			</th>
			<th>
				<span for="MC-l7">Flex</span>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr class="table-row">
			<td class="emptyFirstCell" width="2%"></td>
			<td class="ruleLabel" width="58%">Number of repos</td>
			<td>5</td>
			<td>10</td>
			<td>20</td>
			<td>40</td>
			<td>60</td>
		</tr>
		<tr class="table-row">
			<td class="emptyFirstCell"></td>
			<td class="ruleLabel">Number of users</td>
			<td>1</td>
			<td>3</td>
			<td>10</td>
			<td>20</td>
			<td>30</td>
		</tr>
		<tr class="table-row">
			<td class="emptyFirstCell"></td>
			<td class="ruleLabel">Number environments</td>
			<td>2</td>
			<td>4</td>
			<td>10</td>
			<td>15</td>
			<td>20</td>
		</tr>
		<tr class="table-row">
			<td class="emptyFirstCell"></td>
			<td class="ruleLabel">Remote support (email & ticket system)</td>
			<td class="text-center"><span class="glyphicon glyphicon-ok"></span></td>
			<td class="text-center"><span class="glyphicon glyphicon-ok"></span></td>
			<td class="text-center"><span class="glyphicon glyphicon-ok"></span></td>
			<td class="text-center"><span class="glyphicon glyphicon-ok"></span></td>
			<td class="text-center"><span class="glyphicon glyphicon-ok"></span></td>
		</tr>
	</tbody>
	<tfoot>
		
		<tr class="table-row">
			<td colspan="2" class="categoryTitle">Price / Month</td>
			<td>Free</td>
			<td class="orange-text">Coming Soon</td>
			<td class="orange-text">Coming Soon</td>
			<td class="orange-text">Coming Soon</td>
			<td class="orange-text">Coming Soon</td>
		</tr>
		<tr>
			<td colspan="2" class="noBorder"></td>
			<td>
				<input value="START" ng-model="project.ht_package" type="radio" name="ht_package" ng-required="true"/>
			</td>
			<!--<td class="orange-text">-->
				<!--&lt;!&ndash;Coming Soon&ndash;&gt;-->
				<!--&lt;!&ndash;<input value="lean" ng-model="project.ht_package" type="radio" name="ht_package" ng-required="true"/>&ndash;&gt;-->
			<!--</td>-->
			<!--<td class="orange-text">-->
				<!--Coming Soon-->
				<!--&lt;!&ndash;<input value="agile" ng-model="project.ht_package" type="radio" name="ht_package" ng-required="true"/>&ndash;&gt;-->
			<!--</td>-->
			<!--<td class="orange-text">-->
				<!--Coming Soon-->
				<!--&lt;!&ndash;<input value="power" ng-model="project.ht_package" type="radio" name="ht_package" ng-required="true"/>&ndash;&gt;-->
			<!--</td>-->
			<!--<td class="orange-text">-->
				<!--Coming Soon-->
				<!--&lt;!&ndash;<input value="flex" ng-model="project.ht_package" type="radio" name="ht_package" ng-required="true"/>&ndash;&gt;-->
			<!--</td>-->
		</tr>
	</tfoot>
</table>
<br>