body, html {
    min-width: 400px;
}

@media (max-width: 768px) {
    .navbar {
        background-color: white;
        border-bottom: 1px grey solid;
    }

    .navbar-default .navbar-nav > li > a {
        color: #383838;
    }

    nav #logo {
        background-image: url('/config/images/soajsio.png');
    }
}