@charset "utf-8";
/* CSS Document */
@-ms-viewport {
    width: device-width;
}

.hidden {
    display: none;
    visibility: hidden;
}

.visible-phone {
    display: none !important;
}

.visible-tablet {
    display: none !important;
}

.hidden-desktop {
    display: none !important;
}

.visible-desktop {
    display: inherit !important;
}

.visible-print {
    display: none !important;
}

@media print {
    .visible-print {
        display: inherit !important;
    }

    .hidden-print {
        display: none !important;
    }
}