
#product p {
    height: 160px;
}

#product .yellow-txt {
    color: #f49c1c;
}
#product .red-txt {
    color: #aa3f3f;
}
#product .green-txt {
    color: #418774;
}
#product .blue-txt {
    color: #397999;
}

#product .responsive-icon {
    margin: 0;
    padding-top: 16px;
}

#product .padding-t-5{
    margin-top: 10px;
}

#product .responsive-icon span {
    font-size: 8.1rem;
}

#product .responsive-icon span.icon-api-lifecycle-management {
    color: white;
    background-color: #f4b62d;
    display: inline-block;
    border-radius: 50%;
}

#product .responsive-icon span.icon-multi-cloud-orchestration {
    color: white;
    background-color: #ab3d40;
    display: inline-block;
    border-radius: 50%;
}

#product .responsive-icon span.icon-release-management {
    color: white;
    background-color: #3f8875;
    display: inline-block;
    border-radius: 50%;
}

#product .responsive-icon span.icon-it-ops-automation {
    color: white;
    background-color: #387997;
    display: inline-block;
    border-radius: 50%;
}

.roundedButton{
    border-radius: 20px;
    padding: 10px 20px;
}

#why .responsive-icon span[class^="demo-icon"] {
    font-size: 6rem;
    color: #474f54;
}

#architect .responsive-icon span[class^="demo-icon"] {
    font-size: 5rem;
    color: #909da3;
    position:relative;
    left: -20px;
    top: 10px;
    text-shadow: 0px 1px 3px rgba(71, 79, 84, 0.74);
}

#connect .responsive-icon span[class^="demo-icon"] {
    font-size: 5rem;
    color: white;
    background-color: #feb323;
    display: table;
    border-radius: 50%;
}

#connect .responsive-icon span[class^="demo-icon"]:hover {
    font-size: 5rem;
    color: white;
    background-color: #a37c48;
    display: table;
    border-radius: 50%;
    cursor:pointer;
}

.formback .noPaddingLeft{
    padding-left:0;
}

@media (max-width: 375px) {
    /* used in homepage architect section only*/
    #architect .responsive-icon span[class^="demo-icon"] {
        font-size: 3rem;
        color: #474f54;
        position:relative;
        left: -10px;
        top: 0;
    }

    .formback .noPaddingLeft{
        padding-left: 15px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* used in homepage architect section only*/
    #architect .responsive-icon span[class^="demo-icon"] {
        font-size: 4rem;
        color: #474f54;
        position:relative;
        left: -20px;
        top: 10px;
    }
}


@media (max-width: 1199px) {
    #product p {
        height: 115px;
    }
}