
<div class='row gray-text section-padding'>
<div class="container">
		<div class="col-lg-1 col-md-1"></div>
		<div class="col-lg-5 col-md-5 col-sm-6">
			<h2>Get in touch</h2>
			<p>
				Ask us about how we can accelerate your modernization and/or digital transformation by eliminating the IT plumbing pain required to develop and deploy Microservices.
			</p>
			<br />
			<h3>Subscribe to SOAJS.io</h3>
			<p>
				In the coming months, we will be introducing SOAJS.IO, communicating updates, and providing insights. Subscribe here:
			</p>
			<br />
		</div>
		<div class="col-lg-5 col-md-5 col-sm-6">
			<a id="contact"></a>
			<p>
				90 Canal Street<br />
				4th Floor<br />
				Boston, MA 02114<br />
			</p>
			<form action="">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<input type="text" placeholder="Full Name..." name="full_name">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<input type="text" placeholder="Email..." name="email">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<input type="text" placeholder="Phone..." name="phone">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<input type="text" placeholder="Company..." name="company">
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12">
					<input type="submit" value="Submit" class="">
				</div>
			</form>
		</div>
		<div class="col-lg-1 col-md-1"></div>
	</div>
</div>
<div class="row darkblue-bg white-text" style="padding-bottom:20px; padding-top:20px; font-size:10px">

<div class="container">
	    <div class="pull-left white-txt">Copyright &copy; Herron Tech, All Rights Reserved.</div>
	    <div class="pull-right white-txt">Powered by <a href="http://www.soajs.org" target="_blank" class="white-txt Casablanca-txt-hover"><img ng-src="config/images/soajs.png" alt="soajs.org" width="100"/></a></div>

</div>
</div>