<div id="inner-page-header" ng-if="innerPage">
	<img ng-src="{{innerPage.image}}">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 text-center">
				<h1>{{innerPage.header}}</h1>
				<p>{{innerPage.slogan}}</p>
			</div>
		</div>
	</div>
</div>

<!-- Carousel ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" ng-if="header_carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators" ng-if="header_carousel && header_carousel.length > 1">
		<li ng-repeat="oneItem in header_carousel" data-target="#{{oneItem.id}}" data-slide-to="{{$index}}" ng-class="{'active': $index === 0}"></li>
	</ol>
	
	<div class="carousel-inner" role="listbox">
		
		<div class="item" ng-repeat="oneItem in header_carousel" ng-class="{'active': $index === 0}">
			<img class="first-slide" ng-src="{{oneItem.image}}" alt="First slide">
			<div class="container">
				<div class="carousel-caption">
					<h1>{{oneItem.header}}</h1>
					<h3>{{oneItem.slogan}}</h3>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" ng-if="header_carousel && header_carousel.length > 1">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" ng-if="header_carousel && header_carousel.length > 1">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div><!-- /.carousel -->



<div id="headerAD" ng-if="header_ad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">

                <h1>{{header_ad.header}}</h1>
                <h4 class="text-right orange-text">{{header_ad.slogan}}</h4>
                <p style="font-size:13px; padding-top: 10px;" ng-bind-html="header_ad.msg|toTrustedHtml"></p>
                <p class="text-center" style="padding-top: 20px;">
                <a href="/member/join" class="btn btn-warning roundedButton">Create Your Free Account</a>
                </p>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 text-left">
                <img width="100%" ng-src="{{header_ad.image}}">
            </div>
        </div>
    </div>
</div>