<!--main page-->
<div class="gray-text section-padding">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-bottom: 7px;">
            <h2>Accelerate the Deployment of Microservices</h2>
        </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-bottom: 60px;">
            <p>
                SOAJS.IO’s innovative, single-pane-of-glass Microservices Management Platform eliminates the biggest barrier to getting applications onto the cloud:
                the manual development of IT plumbing code.  Start delivering Microservices much sooner.
            </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 7px;">
            <h2>SOAJS Enterprise. The Microservices Management Platform (MMP).</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <p>
                Getting applications on the cloud has been unnecessarily complex, as current technologies only partially address the challenges of Microservices. Before your application teams can focus on coding, DevOps, TechOps, and Security must translate their architectures and policies into cloud environments, by integrating and harmonizing infrastructures, frameworks, legacy software, and more — and must build cohesive development, release, operating, and management flows and views. Today this IT Plumbing must be developed manually – tying down scarce, but critical, expertise and skills.
            </p>
        </div>
	    <div class="clearfix visible-xs"><br /></div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <p>
                SOAJS.IO’s innovative, single-pane-of-glass management solution automates this IT Plumbing and optimizes the development lifecycle for your Microservices. DevOps, TechOps, and Security retain the same level of control, with an open, plug-and-play platform that adapts to their vision. With no IT Plumbing coding necessary, their critical expertise and skills get leveraged more efficiently, across more projects. And your application teams start delivering Microservices significantly earlier and faster.
            </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-right">
            <h4 class="orange-text">No more IT plumbing pain.</h4>
        </div>
    </div>
</div>