<!--architect-->
<div class="gray-text section-padding" id="architect">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h2>Architected for the Enterprise: Open, Powerful & Adaptable</h2>
			<br/>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 responsive-icon">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
				<span class="demo-icon icon-architecture-1"></span>
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<h4 class="orange-text">Open to Work the Way You Want</h4>
				<div class="hidden-xs">
					<p>How can you be agile when your options are limited? Unlike other solutions, SOAJS doesn’t
						impose on you. With its Open Solution Architecture, quickly select among our large, growing
						ecosystem of third-party frameworks, cloud technologies, data formats, data sources, and much more —
						or, easily integrate your own.
					</p>
				</div>
			</div>
			<div class="hidden-lg hidden-md hidden-sm col-xs-12">
				<p>How can you be agile when your options are limited? Unlike other solutions, SOAJS doesn’t
					impose on you. With its Open Solution Architecture, quickly select among our large, growing
					ecosystem of third-party frameworks, cloud technologies, data formats, data sources, and much more —
					or, easily integrate your own.
				</p>
			</div>
		</div>
		<div class="clearfix hidden-lg hidden-md"><br /></div>
		<div class="col-lg-6 col-md-6 col-sm-12 responsive-icon">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
				<span class="demo-icon icon-architecture-2"></span>
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<h4 class="orange-text">Adaptable to Legacy Systems</h4>
				<div class="hidden-xs">
					<p>If you have legacy systems that are preventing you from moving quickly, SOAJS stays
						adaptive to any architecture, deployment technology, and even legacy systems. Quickly integrate and
						leverage your existing databases, applications, systems and more.
					</p>
				</div>
			</div>
			<div class="hidden-lg hidden-md hidden-sm col-xs-12">
				<p>If you have legacy systems that are preventing you from moving quickly, SOAJS stays
					adaptive to any architecture, deployment technology, and even legacy systems. Quickly integrate and
					leverage your existing databases, applications, systems and more.
				</p>
			</div>
		</div>
		<div class="clearfix"><br /></div>
		<div class="col-lg-6 col-md-6 col-sm-12 responsive-icon">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
				<span class="demo-icon icon-architecture-3"></span>
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<h4 class="orange-text">Complex, Hybrid Cloud Infused</h4>
				<div class="hidden-xs">
					<p>Designed ground up with the demands of modern cloud environments in mind, SOAJS seamlessly
						supports features like multi-cloud orchestration and multi-tenant across the platform. Scale
						quickly. Deploy across complex, hybrid environments easily.
					</p>
				</div>
			</div>
			<div class="hidden-lg hidden-md hidden-sm col-xs-12">
				<p>Designed ground up with the demands of modern cloud environments in mind, SOAJS seamlessly
					supports features like multi-cloud orchestration and multi-tenant across the platform. Scale
					quickly. Deploy across complex, hybrid environments easily.
				</p>
			</div>
		</div>
		<div class="clearfix hidden-lg hidden-md"><br /></div>
		<div class="col-lg-6 col-md-6 col-sm-12 responsive-icon">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
				<span class="demo-icon icon-architecture-4"></span>
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<h4 class="orange-text">Customizable & Extensible</h4>
				<div class="hidden-xs">
					<p>DevOps, CloudOps, and Security retain the same level of control— while their critical expertise and
						skills get leveraged more efficiently, across more projects. SOAJS can support your own
						frameworks, policies, processes, or third-party and legacy solutions — and be extended, as needed.
					</p>
				</div>
			</div>
			<div class="hidden-lg hidden-md hidden-sm col-xs-12">
				<p>DevOps, TechOps, and Security retain the same level of control— while their critical expertise and
					skills get leveraged more efficiently, across more projects. SOAJS can support your own
					frameworks, policies, processes, or third-party and legacy solutions — and be extended, as needed.
				</p>
			</div>
		</div>
		<div class="clearfix hidden-lg hidden-md hidden-sm"></div>
	</div>
</div>
