<!--architect-->
<div class="row gray-text section-padding">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2>Architected for the Enterprise: Open, Powerful & Adaptable</h2>
            <br />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img ng-src="" alt="">
            <h4 class="orange-text">Open to Work the Way You Want</h4>
            <p>How can you be agile when your options are limited? Unlike other solutions, SOAJS Enterprise doesn’t impose on you. With its Open Solution Architecture, quickly select among our large, growing ecosystem of third-party frameworks, cloud technologies, data formats, data sources, and much more — or, easily integrate your own.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img ng-src="" alt="">
            <h4 class="orange-text">Adaptable to Legacy Systems</h4>
            <p>If you have legacy systems that are preventing you from moving quickly, SOAJS Enterprise stays adaptive to any architecture, deployment technology, and even legacy systems. Quickly integrate and leverage your existing databases, applications, systems and more.</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img ng-src="" alt="">
            <h4 class="orange-text">Complex, Hybrid Cloud Infused</h4>
            <p>Designed ground up with the demands of modern cloud environments in mind, SOAJS Enterprise seamlessly supports features like multi-cloud orchestration and multi-tenant across the platform. Scale quickly. Deploy across complex, hybrid environments easily.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img ng-src="" alt="">
            <h4 class="orange-text">Customizable & Extensible</h4>
            <p>DevOps, TechOps, and Security retain the same level of control— while their critical expertise and skills get leveraged more efficiently, across more projects. SOAJS Enterprise can support your own frameworks, policies, processes, or third-party and legacy solutions — and be extended, as needed.</p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <br />
            <img ng-src="custom/modules/home/images/SOAJS-enterpriseMicroserviceManagementPlatform.png" alt="enterprise Microservices Management Platform" style="width:90%"/>
        </div>
    </div>
</div>
