<!--connect-->
<div class="row blue-bg white-text section-padding">
    <div class="container">
        <div class="clearfix w-100"></div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Connect with a Microservices platform specialist</h2>
            <p>Our experts can provide additional information, help you avoid your IT pain, and accelerate the deployment of your microservices.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <a href="">
                <img ng-src="" alt=""><br />
                Contact Sale
            </a>
            <a href="">
                <img ng-src="" alt=""><br />
                Request Demo
            </a>
        </div>
	</div>
</div>