<!--connect-->
<div class="row">
	<div class="clearfix w-100"></div>
	<div class="col-lg-12 col-md-12 col-sm-12">
		<a href="http://www.soajs.org" target="_blank">SOAJS Website</a>
	</div>
	<div class="clearfix w-100"></div>
	
	<div class="col-lg-8 col-md-8 col-sm-12">
		<h2>Connect with a Microservices platform specialist</h2>
		<p>Our experts can provide additional information, help you avoid your IT pain, and accelerate the deployment of your microservices.</p>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-4">
		<a href="">
			<img ng-src="" alt=""><br />
			Contact Sale
		</a>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-4">
		<a href="">
			<img ng-src="" alt=""><br />
			Request Demo
		</a>
	</div>
</div>