<!--our product-->
<div class="blue-bg white-text section-padding" id="product">
    <div class="container">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>SOAJS SPOG Management Platform</h2>
        </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>
                Delivers the 4 Fundamental Components Required for Microservices – Tightly Interconnected with a Single-Pane-of-Glass View:
            </h4>
            <br />
        </div>

		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center responsive-icon">
				<span class="demo-icon icon-api-lifecycle-management"></span>
				<h2>API Lifecycle Management</h2>
				<p>Take control of the entire API lifecycle management to build new API or modernize existing API.</p>
				<a class="yellow-txt" href="/product">Learn More ></a>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center responsive-icon">
                <span class="demo-icon icon-multi-cloud-orchestration"></span>
				<h2>Multi-Cloud Orchestration</h2>
				<p>Orchestrate multi environment with multi tier clustering using multi technology across multi cloud providers and regions.</p>
				<a class="red-txt" href="/product">Learn More ></a>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12  text-center responsive-icon">
            <span class="demo-icon icon-release-management"></span>
				<h2>Release Management</h2>
				<p>Create custom CI/CD, per environment, per product, per department, per team, per resource, per technology and per repository.</p>
				<a class="green-txt" href="/product">Learn More ></a>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center responsive-icon">
            <span class="demo-icon icon-it-ops-automation"></span>
				<h2>IT Ops Automation</h2>
				<p>Get empowered with DevOps & TechOps automation capabilities to eliminate your IT organization’s modernization pain.</p>
				<a class="blue-txt" href="/product">Learn More ></a>
		</div>
	
	    <div class="clearfix visible-xs"><br /></div>
	    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
		    <br />
		    <a href="/member/join" class="btn btn-warning roundedButton">Create Your Free Account</a>
	    </div>
	</div>
</div>