<!--our product-->
<div class="row blue-bg white-text section-padding" id="product">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2>SOAJS Enterprise Platform</h2>
            <h4>
                Delivers the 4 Fundamental Components Required for Microservices – Tightly Interconnected with a Single-Pane-of-Glass View:
            </h4>
	        <br />
        </div>
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	        <div class="row">
		        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 responsive-icon">
			        <span class="demo-icon icon-api-lifecycle-management"></span>
		        </div>
		        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
		            <h3 class="orange-text">API Lifecycle Management</h3>
		        </div>
	        </div>
	        <div class="row padding-t-5">
		        <ul>
			        <li>Modernize & augment existing API with any framework
			        </li>
			        <li>Endpoint with multi-authentication
			        </li>
			        <li>API cataloging with swagger support
			        </li>
			        <li>Multi-tenancy & profiling
			        </li>
			        <li>Productization & ACL
			        </li>
			        <li>API builder: endpoints – microservices
			        </li>
			        <li>API simulation
			        </li>
			        <li>API gateway
			        </li>
			        <li>Traffic control & multi layer security
			        </li>
		        </ul>
	        </div>
        </div>
	    <div class="clearfix visible-xs"><br /></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	        <div class="row">
		        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 responsive-icon">
			        <span class="demo-icon icon-multi-cloud-orchestration"></span>
		        </div>
		        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			        <h3 class="orange-text">Multi-Cloud Orchestration</h3>
		        </div>
	        </div>
	        <div class="row padding-t-5">
		        <ul>
			        <li>Clustering over multi provider & region
			        </li>
			        <li>Any technology: VM, Kubernetes, Docker
			        </li>
			        <li>Public & private cloud
			        </li>
			        <li>Templated environment
			        </li>
			        <li>Environments for local development
			        </li>
			        <li>Resource management & deployment
			        </li>
			        <li>Plug, share, manipulate resources configuration
			        </li>
			        <li>Import / Export / Clone environments
			        </li>
			        <li>Infra as Code native and 3rd party support
			        </li>
		        </ul>
	        </div>
        </div>
        <div class="clearfix"><br /></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	        <div class="row">
		        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 responsive-icon">
			        <span class="demo-icon icon-release-management"></span>
		        </div>
		        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			        <h3 class="orange-text">Release Management</h3>
		        </div>
	        </div>
	        <div class="row padding-t-5">
		        <ul>
			        <li>Custom CI/CD pipelines
			        </li>
			        <li>Deploy from source code (any framework)
			        </li>
			        <li>Deployment catalog “recipes”
			        </li>
			        <li>“Smart release”
			        </li>
			        <li>Multi integration server
			        </li>
			        <li>Multi GIT server
			        </li>
			        <li>Custom builds
			        </li>
			        <li>Single pane of glass
			        </li>
			        <li>Multi tenant
			        </li>
		        </ul>
	        </div>
        </div>
	    <div class="clearfix visible-xs"><br /></div>
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	        <div class="row">
		        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 responsive-icon">
			        <span class="demo-icon icon-it-ops-automation"></span>
		        </div>
		        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			        <h3 class="orange-text">IT Ops Automation</h3>
		        </div>
	        </div>
	        <div class="row padding-t-5">
		        <ul>
			        <li>Metrics & analytics with 3rd-party integration
			        </li>
			        <li>Log monitoring
			        </li>
			        <li>Container & VM orchestration
			        </li>
			        <li>Resource & traffic analytics, error logs correlation
			        </li>
			        <li>Containers / VM / Resources Awareness
			        </li>
			        <li>Portability & modernization
			        </li>
			        <li>Plug, lock, & share resources between environments
			        </li>
			        <li>Reload configuration w/o downtime
			        </li>
			        <li>Auto scaling
			        </li>
		        </ul>
	        </div>
        </div>
	
	    <div class="clearfix visible-xs"><br /></div>
	    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
		    <br />
		    <a href="/member/login" class="btn btn-warning roundedButton">Join Now</a>
	    </div>
	</div>
</div>