<!--our product-->
<div class="row blue-bg white-text section-padding">
    <div class="container">
        <a id="product"></a>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2>SOAJS Enterprise Platform</h2>
            <p>
                Delivers the 4 Fundamental Components Required for Microservices – Tightly Interconnected with a Single-Pane-of-Glass View:
            </p>
        </div>
        <div class="w-100"></div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h4>api lifecycle management</h4>
            <ul>
                <li>something</li>
                <li>something</li>
                <li>something</li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h4>multi-cloud orchestration</h4>
            <ul>
                <li>something</li>
                <li>something</li>
                <li>something</li>
            </ul>
        </div>
        <div class="clearfix w-100"></div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h4>release management</h4>
            <ul>
                <li>something</li>
                <li>something</li>
                <li>something</li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h4>it ops automation</h4>
            <ul>
                <li>something</li>
                <li>something</li>
                <li>something</li>
            </ul>
        </div>
	</div>
</div>