<!--why soajs-->
<div class="row darkblue-bg white-text section-padding" id="why">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>Why SOAJS Enterprise</h2>
            <br />
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
            <img ng-src="" alt="">
            <h4>No IT plumbing coding or development required</h4>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
            <img ng-src="" alt="">
            <h4>Single-pane-of-glass manageability</h4>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
            <img ng-src="" alt="">
            <h4>Multi-environment support</h4>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
            <img ng-src="" alt="">
            <h4>End-to-end functional integration</h4>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 style="padding-top:50px; padding-bottom:30px;">Open Solution Architecture: Complete & Adaptable</h3>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img ng-src="custom/modules/home/images/SOAJS-OSA.png" alt="SOAJS Open Solution Architecture" style="width:100%"/>
        </div>
	</div>
</div>