<!--why soajs-->
<div class="blue-bg white-text section-padding" id="why">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>Why SOAJS EMM Platform</h2>
            <br />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center responsive-icon">
	        <span class="demo-icon icon-no-coding"></span>
            <h4>No IT plumbing coding or development required</h4>
        </div>
	    <div class="clearfix hidden-lg hidden-md hidden-sm"><br /></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center responsive-icon">
	        <span class="demo-icon icon-single-pane-of-glass"></span>
            <h4>Single-pane-of-glass manageability</h4>
        </div>
	    <div class="clearfix hidden-lg hidden-md"><br /></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center responsive-icon">
	        <span class="demo-icon icon-multi-environment"></span>
            <h4>Multi-environment support</h4>
        </div>
	    <div class="clearfix hidden-lg hidden-md hidden-sm"><br /></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center responsive-icon">
	        <span class="demo-icon icon-end-to-end"></span>
            <h4>End-to-end functional integration</h4>
        </div>
	</div>
</div>