<div class='row section-padding' ng-controller="disclaimerCtrl">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<p>
			This website has been designed to provide general information about SOAJS.io™. Any information contained or
				referenced in this website is suitable only as an introduction to SOAJS.io and its products and services.
				For specific information, please contact SOAJS.io directly.
			</p>
			<p>
			By accessing our site, you acknowledge that you have read, understand and agree to be bound by these terms
				and conditions. Your use of this website is at your own risk. SOAJS.io assumes no responsibility for the
				accuracy of the information contained on our website.
			</p>
			<p>
			All images and information contained in this website are proprietary to SOAJS.io or a third party. To the
				extent possible, copyright, patent or other intellectual property protection exists in all the images
				and information on this website. None of the material may be copied, reproduced, distributed, republished,
				posted or transmitted in any form without the prior written permission of company. You also may not,
				without our prior written permission, mirror any material contained on our website or any other server.
				Please contact webmaster@soajs.io for permission.
			</p>
			<p>
			This site may contain third-party information and links to other Internet sites. Wherever practical, in the
				opinion of SOAJS.io, such information is marked accordingly. SOAJS.io takes no responsibility whatsoever
				for such third-party information. Mention of non-SOAJS.io services are for information purposes only and
				constitute neither an endorsement nor a recommendation. Moreover, we have no knowledge of information
				contained in other Internet sites and take no responsibility whatsoever for such information.
			</p>
			<p>
			SOAJS.io does not want you to, and you should not, send any confidential information or proprietary
				information to SOAJS.io via the web site. Any submission by you becomes the property of SOAJS.io and you
				grant SOAJS.io the authority and right to use that information subject to the terms contained in the
				Privacy Policy. The sender of any communications to this site shall be responsible for the content and
				information contained therein, including its truthfulness and accuracy.
			</p>
			<p>
			The information contained on this web site is subject to change without notice. SOAJS.io reserves the right
				to make improvements and/or changes in the products and/or services described in this web site at any
				time without notice.
			</p>
		</div>
	</div>
</div>