<div class='row section-padding'>
	<div class="container" ng-controller="registerCtrl">
		<div ng-if="openForm">
			<div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<p>As a SOAJS.io member, you will benefit from the following:</p>
					<ul>
						<li>Download recipes and templates for free from the <a href="/store">Store</a></li>
						<li>Take advantage of our SAAS and instantly create SOAJS Projects</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
				<div ng-show="alerts && alerts.length > 0">
					<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
						{{alert.msg}}
					</uib-alert>
					<br/>
				</div>
				<div class="formback row">
					<form name="contactForm" novalidate ng-submit="contactForm.$valid && sendContact()">
						<div class="row">
							<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<input ng-model="contact.firstName" type="text" placeholder="First Name *" class="form-control" uib-tooltip="Enter your first name..." required/>
							</div>
							<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<input ng-model="contact.lastName" type="text" placeholder="Last Name *" class="form-control" uib-tooltip="Enter your last name..." required/>
							</div>
							<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input ng-model="contact.email" type="email" class="form-control" placeholder="Your Email *" uib-tooltip="Enter your email address..." required/>
							</div>
						</div>
						
						<div class="row">
							
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div vc-recaptcha theme="'light'" key="siteKey" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right hidden-sm hidden-xs">
								<input type="submit" class="btn btn-sm btn-warning" value="Submit" ng-disabled="!contact.captcha && !contactForm.$valid"/>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center hidden-lg hidden-md">
								<input type="submit" class="btn btn-sm btn-warning" value="Submit" ng-disabled="!contact.captcha && !contactForm.$valid"/>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<div ng-if="!openForm" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3>Thank you for Joining ...</h3>
			<uib-alert type="info">
				<p>
					We have received your request to join and your account is being created, please check your email for
					the further details.
				</p>
			</uib-alert>
			<a href="/member/login" class="btn btn-sm btn-warning pull-right" uib-tooltip="Back to Login Page">Login</a>
		</div>
	</div>
</div>